@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dosis:wght@800&family=Inknut+Antiqua&family=Inter:wght@400;600;700&display=swap');

body{
    margin:0px;
    width: 100%;
    height: 100%;
}

.nav-bar-1{
    height: 3em;
    background-color: #B4DADB;
    text-align: center;
    align-items: center;
    display: flex;
    place-items: center;
    place-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.nav-bar-2{
    background: #92C4C6;
    height: 3.5em;
    display: flex;
    align-items: center;
}

.hello{
    margin: 0%;
    padding-left: 1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: white;
    
}

.nav-bar-2-right{
    margin-left: auto; 
    margin-right: 0;
}

ul{
    list-style: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    margin-left: 1em;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
  }

  li a:hover {
    background-color: #84B3B5;;
  }

  .btn-logout {
    background-color: #84B3B5;
    border: none;
    color: white;
    padding: .5em .9em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    margin: 2px;
    margin-left: 2em;
    margin-right: 1.5em;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    border-radius: 9px;
    
  }

  .btn-logout:hover {
    background-color: #B4DADB;
    color: white;
  }